footer hr.divider {
    margin-top: 40px !important;
}

blockquote {
    font-size: 16px;
    color: #9c9c9c;
}

main.main-documentation section a {
    text-decoration: none;
    font-weight: bold;
    color: #ff9900;
}

main.main-documentation section a.btn {
    color: #ffffff;
}

main.main-documentation section li.subnav_drop a:hover,
main.main-documentation section .subnav a:hover,
main.main-documentation section a:active,
main.main-documentation section .subnav li a:hover {
    border-left: none;
}

.inline-block {
    display: inline-block;
}

div.wy-menu.wy-menu-vertical {
    margin-top: 0 !important;
}

header nav {
    z-index: 99990 !important;
}

.docs-gallery a:hover {
    border-left: none;
}

.no-border {
    border: none !important;
}

.doc-hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

pre {
    background-color: #545454;
    border: none;
}

pre code {
    font-size: 75% !important;
    color: #666666;
}

code {
    font-size: 13px !important;
    color: #ffa31a;
}

li pre {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 40px !important;
}

main.main-documentation h3, .h3 {
    margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(255, 172, 47, 0.25);
}

main.main-documentation section ul {
    list-style: inherit;
    padding-left: 24px;
}

main.main-documentation section li {
    list-style: inherit;
}

main.main-documentation section img {
    max-height: 500px;
    border: 2px solid #666666;
    margin-bottom: 20px;
}

.my-badge {
    font-size: 25px;
    width: 100px;
    height: 33px;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
}

.my-badge:hover {
    background-color: #ff9900;
}

.my-badge-disabled {
    background-color: #d9d9d9;
}

.badges-menu {
    margin-bottom: 40px;
}

ol.ordered-list{
    margin-left: 40px;
    list-style-type: decimal;
}

blockquote {
    background-color: #f9f9f9;
    margin-top: 20px;
}


@media (max-width: 479px) {
    nav.wy-nav-side {
        left: -8px !important;
    }
}

@media (max-width: 1199px) {
    .main-documentation {
        margin-top: 0;
    }
    #float-panel {
        margin-top: 50px;
        padding-top: 41px;
        padding-left: 45px;
    }
}

@media (min-width: 1200px) {
    .main-documentation {
        margin-top: 100px;
    }
    #float-panel {
        padding-top: 41px;
        margin-top: 0px;
        padding-left: 45px;
    }
}