---
layout: default
title: ElasTest Home
active: home
page-type: home
---

<section id="logo" class="my-gray-background" style="margin-top: 3.5em;">
  <div class="container">
    <div id="first-row-main-page" class="row wow">
      <img id="elastest-logo" src="/images/logos_elastest/logo-white.png" />
      <div class="home-subheading sft">
        <div class="">Bring observability to your tests</div>
      </div>
    </div>
  </div>
</section>

<section id="gallery-main-page" class="my-gray-background">
  <div class="container">
    <div class="row wow">
      <div class="main-gallery">
        {% for file in site.static_files %}
        {% if file.path contains "/images/carousel" %}
        <a data-fancybox="gallery-wellcome" href="{{file.path}}"><img class="img-wellcome" src="{{file.path}}" /></a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="main-buttons" class="my-gray-background">
  <div class="container">
    <div id="wellcome-btn" class="row wow">
      <a href="" style="text-decoration: none; margin-left: 5px" data-caption-animate="fadeInUp"
        data-caption-delay="1200" class="btn btn-lg btn-primary btn-primary-white btn-anis-effect">Try it now!</a>
      <a href="/docs/" style="text-decoration: none; margin-left: 5px" data-caption-animate="fadeInUp"
        data-caption-delay="1200" class="btn btn-lg btn-primary btn-anis-effect">Go to Docs</a>
    </div>
  </div>
</section>

<section id="features-2" class="section-10">
  <div
    style="margin-bottom: 80px; font-size: 24px; font-weight: 100; background-color: rgba(255, 172, 47, 0.35); padding: 20px 0 40px 0">
    <div>
      <em style="font-size: 20px;">(29/04/2019)</em>
    </div>
    <div>ElasTest <strong>1.5.0</strong> has been released. And don't forget to check out our white paper!</div>
    <div class="range range-xs-center" style="margin-top: 0; text-align: center">
      <div class="range range range-xl-center range-lg-center range-md-center range-sm-center range-xs-center"
        style="margin-top: 30px">
        <a href="/docs" style="text-decoration: none" data-caption-animate="fadeInUp" data-caption-delay="1200"
          class="btn btn-lg btn-primary btn-anis-effect">
          <span class="btn-text">Get started</span>
        </a>
        <a href="/docs/releases/#1.5.0" style="text-decoration: none; margin-left: 5px" data-caption-animate="fadeInUp"
          data-caption-delay="1200" class="btn btn-lg btn-primary btn-anis-effect">
          <span class="btn-text">Release Notes</span>
        </a>
        <a href="/resources/ElasTest_white_paper.pdf" download style="text-decoration: none; margin-left: 5px"
          data-caption-animate="fadeInUp" data-caption-delay="1200"
          class="btn btn-lg btn-primary btn-anis-effect whitePaperButton">
          <span class="btn-text">White Paper</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-41 section-sm-66">
  <div class="shell">
    <div class="range range-xs-center">
      <div class="cell-xs-10 cell-lg-12 text-md-left cell-lg-push-1 offset-top-50 offset-lg-top-0">

        <h2 id="content" class="h1">Use case</h2>
        <hr class="divider hr-lg-left-0 bg-mantis">

        <div class="row features-row wow fadeInUp">

          <!-- Column 'Reduce your time-to-fix for bugs' -->
          <div class="col-md-4 col-sm-12">
            <div class="feature-column-header">
              <div class="feature-info">
                <h4><b>Reduce your time-to-fix for bugs</b></h4>
              </div>
            </div>


            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-bug" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-bug" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Reduce bug localization time with ElasTest observability capabilities</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-sort-amount-down" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-sort-amount-down" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Log collection & analysis</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-terminal" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-terminal" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Comparison with previous executions</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-chart-line" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-chart-line" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Metrics collection & analysis</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-chart-line" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-chart-line" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Metric comparison</p>
              </div>
            </div>

          </div>

          <!-- Column 'Better time-to-market' -->
          <div class="col-md-4 col-sm-12">

            <div class="feature-column-header">
              <div class="feature-info">
                <h4><b>Better time-to-market</b></h4>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-square-root-alt" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-square-root-alt" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Write complex tests easier with ElasTest support services</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-globe-americas" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-globe-americas" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Request browsers effortlessly: any version of Chrome & Firefox. Selenium
                  compliant</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-crosshairs" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-crosshairs" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Chaos testing: inject failures in your system using our Chaos Testing API
                </p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-shield-alt" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-shield-alt" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Security testing at your fingertips</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-hammer" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-hammer" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Build tests based on runtime information: metrics, custom metrics, logs
                </p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-chart-bar" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-chart-bar" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Analyze data in real time and use our ML capabilities</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-book" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-book" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Everything behind public well-documented REST APIs</p>
              </div>
            </div>

          </div>

          <!-- Column 'Improve communication across your team' -->
          <div class="col-md-4 col-sm-12">

            <div class="feature-column-header">
              <div class="feature-info">
                <h4><b>Improve communication across your team</b></h4>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-compass" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-compass" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Enjoy exploratory testing with all the features of automated tests</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-sort-amount-down" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-file-alt" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Log and metrics collection</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-sitemap" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-sitemap" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Testlink integration</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-video" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-video" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Session recording</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-pause" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-pause" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Pause & resume sessions</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-bell" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-bell" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">Alarms when logs are signaling errors</p>
              </div>
            </div>

            <div class="feature-column">
              <div class="feature-icon">
                <i class="feature-img fas fa-info" style="font-size: 70px; color: #ffac2f;"></i>
                <i class="feature-img big fas fa-info" style="font-size: 120px;"></i>
              </div>
              <div class="feature-info">
                <p class="feature-description">All the information available for your developers instantly</p>
              </div>
            </div>

          </div>
        </div>
</section>

<section class="section-41 section-sm-66">
  <div class="shell">
    <div class="range range-xs-center">
      <div class="cell-xs-10 cell-lg-12 text-md-left cell-lg-push-1 offset-top-50 offset-lg-top-0">

        <h2 id="content" class="h1">Features</h2>
        <hr class="divider hr-lg-left-0 bg-mantis">

        <div class="row features-row wow fadeInUp">
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
              <img class="feature-img" src="/images/home/jenkins.png" />
              <img class="feature-img big" src="/images/home/jenkins.png" />
            </div>
            <div class="feature-info">
              <h4>Jenkins integration</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
              <img class="feature-img" src="/images/home/testlink.png" />
              <img class="feature-img big" src="/images/home/testlink.png" />
            </div>
            <div class="feature-info">
              <h4>Testlink integration</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
              <img class="feature-img" src="/images/home/opensource.png" />
              <img class="feature-img big" src="/images/home/opensource.png" />
            </div>
            <div class="feature-info">
              <h4>Open source (Apache 2.0)</h4>
            </div>
          </div>
        </div>

        <div class="row features-row wow fadeInUp">
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
            </div>
            <div class="feature-info">
              <h4>Browsers</h4>
              <ul>
                <li>Any version</li>
                <li>Video recording</li>
                <li>Log extraction</li>
                <li>Chrome</li>
                <li>Firefox</li>
                <li>Internet Explorer <span style="padding-left: 2%;"><i class="fas fa-info-circle" aria-hidden="true"
                      data-toggle="tooltip" data-placement="right" title="Ask for support"></i></span>
                </li>
                <li>Opera <span style="padding-left: 2%;"><i class="fas fa-hammer" aria-hidden="true"
                      data-toggle="tooltip" data-placement="right" title="Work in progress"></span></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
              <img class="feature-img" src="/images/home/web-rtc.png" />
              <img class="feature-img big" src="/images/home/web-rtc.png" />
            </div>
            <div class="feature-info">
              <h4>WebRTC</h4>
              <ul>
                <li>WebRTC stats</li>
                <li>Firefox</li>
                <li>Chrome</li>
                <li>Opera<span style="padding-left: 2%;"><i class="fas fa-hammer" aria-hidden="true"
                      data-toggle="tooltip" data-placement="right" title="Work in progress"></i></span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">

            </div>
            <div class="feature-info">
              <h4>Distributed systems</h4>
              <ul>
                <li>Collecting logs from services</li>
                <li>Instrumenting the app for log collection</li>
                <li>Collecting metrics from the app</li>
                <li>Instrumenting the app for metric collection</li>
                <li>Tracing <span style="padding-left: 2%;"><i class="fas fa-hammer" aria-hidden="true"
                      data-toggle="tooltip" data-placement="right" title="Work in progress"></i></span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row features-row wow fadeInUp">
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
            </div>
            <div class="feature-info">
              <h4>Log Analayzer</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">

            </div>
            <div class="feature-info">
              <h4>Log comparison</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">

            </div>
            <div class="feature-info">
              <h4>Metric comparision</h4>
            </div>
          </div>
        </div>

        <div class="row features-row wow fadeInUp">
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
            </div>
            <div class="feature-info">
              <h4>Custom metrics</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">

            </div>
            <div class="feature-info">
              <h4>Cross broser exploratory testing</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">

            </div>
            <div class="feature-info">
              <h4>Deployments</h4>
              <ul>
                <li>On premise: Docker (single command)</li>
                <li>On cloud (AWS)</li>
                <li>Deployment on Kubernetes <span style="padding-left: 2%;"><i class="fas fa-info-circle"
                      aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Quarter 3"></i></span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row features-row wow fadeInUp">
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">
            </div>
            <div class="feature-info">
              <h4>Test recommendation</h4>
              <ul>
                <li>get test code written for new test cases</li>
                <li>Learn from your own projects (Contat us)</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 feature-column">
            <div class="feature-icon">

            </div>
            <div class="feature-info">
              <h4>Test cost estimation</h4>
              <ul>
                <li>How much will cost a given test on your cloud infraestructure?</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</section>

<section class="section-bottom-98 section-sm-bottom-110">
  <div class="shell">
    <div class="range range-xs-center">
      <div class="cell-xs-10 cell-lg-12 text-md-center cell-lg-push-1 offset-top-50 offset-lg-top-0">
        <h2 id="content" class="h1" style="text-align: left;">Community</h2>
        <hr class="divider hr-lg-left-0 bg-mantis">

        <div>
          <section class="section-relative section-65 section-md-top-85 section-md-bottom-100">

            <div class="shell offset-md-top-60">
              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-6 cell-md-4">
                  <a href="https://github.com/elastest" class="btn btn-primary btn-anis-effect btn-circle"
                    aria-label="ElasTest GitHub"><span class="icon mdi mdi-github-circle"></span><span
                      class="hidden">ElasTest GitHub</span></a>
                  <h3 class="h4 text-bold offset-top-20">GitHub</h3>
                </div>
              </div>

              <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-6 cell-md-4 offset-top-45 offset-md-top-0">
                  <a href="https://groups.google.com/forum/#!forum/elastest-users"
                    class="btn btn-primary btn-anis-effect btn-circle" aria-label="ElasTest mail"><span
                      class="icon mdi mdi-email"></span><span class="hidden">ElasTest mail</span></a>
                  <h3 class="h4 text-bold offset-top-20">Users mailing list</h3>
                </div>

                <div class="cell-xs-10 cell-sm-6 cell-md-4 offset-top-45 offset-md-top-20">
                  <a href="https://twitter.com/elastestio" class="btn btn-primary btn-anis-effect btn-circle"
                    aria-label="ElasTest Twitter"><span class="icon mdi mdi-twitter"></span><span
                      class="hidden">Twitter</span></a>
                  <h3 class="h4 text-bold offset-top-20">Twitter</h3>
                </div>

                <div class="cell-xs-10 cell-sm-6 cell-md-4 offset-top-45 offset-md-top-20">
                  <a href="https://stackoverflow.com/questions/tagged/elastest"
                    class="btn btn-primary btn-anis-effect btn-circle" aria-label="ElasTest GitHub"><span
                      class="icon fab fa-stack-overflow"></span><span class="hidden">ElasTest Stackoverflow</span></a>
                  <h3 class="h4 text-bold offset-top-20">Stackoverflow</h3>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add latest jQuery and fancybox files -->
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
<script>
  $().fancybox({
    selector: '[data-fancybox="gallery-wellcome"]',
    infobar: true,
    arrows: false,
    loop: true,
    protect: true,
    transitionEffect: 'slide',
    buttons: ['close'],
    clickOutside: 'close',
    clickSlide: 'close',
  });
</script>

<!-- Add latest slick files -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script>
  $('.main-gallery').slick({
    autoplay: true,
    arrows: true,
    prevArrow: '<div class="slick-btn slick-btn-prev"><i style="position: absolute; left: 6px;" class="prev fas fa-chevron-left"></i></div>',
    nextArrow: '<div class="slick-btn slick-btn-next"><i style="position: absolute; left: 10px;" class="next fas fa-chevron-right"></i></div>',
    autoplaySpeed: 4000,
    dots: true,
    infinite: true,
    pauseOnHover: false,
    pauseOnFocus: false,
    responsive: [{
      breakpoint: 768,
      settings: {
        arrows: false,
        slidesToShow: 1,
      },
    },],
  });
</script>