    <header class="page-head">
      <!-- RD Navbar Transparent-->
      <div class="rd-navbar-wrap">
        <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-dark" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
              <!--Navbar Brand-->
              <div class="rd-navbar-brand">
                <a href="index.html"><img style='margin-top: 0px;margin-left: -15px;' width='165' height='35' src='/images/intense/elastest-logo-dark.png' alt='ElasTest' /></a>
              </div>
            </div>
            <div class="rd-navbar-menu-wrap">
              <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-mobile-scroll">
                  <!--Navbar Brand Mobile-->
                  <div class="rd-navbar-mobile-brand">
                    <a href="index.html"><img style='margin-top: 0px;margin-left: -15px;' width='184' height='40' src='/images/intense/elastest-logo-dark.png' alt='ElasTest' /></a>
                  </div>
                  <div class="form-search-wrap">
                    <!-- RD Search Form-->
                    <form action="search-results.html" method="GET" class="form-search rd-search">
                      <div class="form-group">
                        <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                        <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm" />
                      </div>
                      <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                    </form>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="/"><span>Home</span></a>
                    </li>
                    <li><a href="project.html"><span>Project</span></a>
                    </li>
                    <li><a href="members.html"><span>Members</span></a>
                    </li>
                    <li class="active"><a href="community.html"><span>Community</span></a>
                    </li>
                    <li><a href="/deliverables.html"><span>Documentation</span></a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="/deliverables.html"><span class="text-middle">Deliverables</span></a>
                        </li>
                        <li><a href="/communication_material.html"><span class="text-middle">Communication Material</span></a>
                        </li>
                    </li>
                    </ul>
                    </li>
                    <li><a href="contact.html"><span>Contact</span></a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>